body {
  background-color: rgba(245, 245, 245);
  font: normal 15pt Arial;
}

header {
  text-align: center;
}

#dTask {
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  margin: auto;
}

#iTask {
  margin: auto;
}

.taskItem {
  background: rgb(190, 190, 190);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.taskItem:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.699);
}

.sText {
  padding-left: 5px;
  padding-right: 15px;
}

.sTag {
  padding-right: 15px;
  color: red;
}

.bDel:hover {
  background-color: rgb(237, 56, 56);
  overflow: visible;
}
